# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/
.docs_venv/
.hatch/
nucmc.egg-info/
*.so
/builds/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/

# claude
.claude/
CLAUDE.md

# ipynb
**/.ipynb_checkpoints/
docs/source/tutorials/**/example